/*초기화*/
* { 
    margin: 0; padding: 0;
}
html {
    min-width: 1090px;
    overflow-x: auto;
}
body { 
     
}
li {
     list-style: none; 
}
a {
     text-decoration: none; 
}

/*헤더*/
#main_header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;

    background: red;
    color: white;
}

/*네비게이션*/
#main_gnb {
    overflow: hidden;
    border-bottom: 1px solid black;
    background: #32394A;
}
#main_gnb > ul.left {
    overflow: hidden;
    float: left;
}
#main_gnb > ul.left > li { float: left; }

/* a 태그 설정 */
#main_gnb a {
    /* 레이아웃 설정 */
    display: block;
    padding: 10px 20px;

    /* 색상 설정 */
    border-left: 1px solid #5F6673;
    border-right: 1px solid #242A37;
    color: white;
    font-weight: bold;
}

/*콘텐츠*/
#wrap { overflow: hidden; }
#wrap > #main_lnb { 
    float: left;
    width: 200px;
}
#wrap > #content_wrap {
    float: left;
    width: 100%;
    *width: 99.9%;
    margin-right: -200px;
}
#wrap > #content_wrap > #content { 
    padding-right: 200px; 
}

/*수직 목록*/
#wrap { background: rgb(90, 90, 90); }
#main_lnb > ul > li > a {
    display: block;
    height:40px; line-height: 40px;
    padding-left: 15px;

    border-top: 1px solid rgb(68, 68, 68);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}

/*본문*/
#content {
    background: white;
    border-left: 1px solid black;
}
article { 
    padding: 10px; 
}
table {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

/*푸터*/
#main_footer {
    padding: 10px;
    border-top: 3px solid black;
    text-align: center;
}